<section class="get-started-item">
    <h2>Education
        <button class="ml-3 btn btn-sm btn-warning px-3 float-right">
            <i class="mr-2 fa fa-plus"></i>Add new</button>
    </h2>
    <div class="accordion mb-5" id="accordionEducation">
        <div class="card">
            <div class="card-header collapsed" id="education-heading-1" data-toggle="collapse" data-target="#education-collapse-1" aria-expanded="true"
                aria-controls="education-collapse-1">
                <a class="card-title">
                    <span class="font-weight-bold">BCA</span> -
                    <span>Aishwarya College of Education Sansthan</span>
                </a>
            </div>

            <div id="education-collapse-1" class="collapse" aria-labelledby="education-heading-1" data-parent="#accordionEducation">
                <div class="card-body">
                    <h5>7/2005 - 6/2008</h5>
                    <p class="mb-0">Completed graduation from Makhanlal Chaturvedi Rashtriya Patrkarita Vishvidyalaya university with 75%.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" id="education-heading-2" data-toggle="collapse" data-target="#education-collapse-2" aria-expanded="false"
                aria-controls="education-collapse-2">
                <a class="card-title">
                    <span class="font-weight-bold">12th</span> -
                    <span>Adarsh Bal Mandir Sr. Sec. School</span>
                </a>
            </div>
            <div id="education-collapse-2" class="collapse" aria-labelledby="education-heading-2" data-parent="#accordionEducation">
                <div class="card-body">
                    <h5>7/2004 - 6/2005</h5>
                    <p class="mb-0">Completed Senior Secondary education from Rajasthan board with 62%.</p>
                </div>
            </div>
        </div>
    </div>
</section>