<section class="get-started-item">
    <h2>Skills
        <button class="ml-3 btn btn-sm btn-warning px-3 float-right">
            <i class="mr-2 fa fa-plus"></i>Add new</button>
    </h2>

    <ul class="list-group mb-5">
        <li class="list-group-item">
            AngularJS
            <div class="progress align-middle" style="height: 3px;">
                <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"></div>
            </div>
        </li>
        <li class="list-group-item">
            ReactJS
            <div class="progress align-middle" style="height: 3px;">
                <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"></div>
            </div>
        </li>
        <li class="list-group-item">
            HTML5
            <div class="progress align-middle" style="height: 3px;">
                <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"></div>
            </div>
        </li>
        <li class="list-group-item">
            Bootstrap
            <div class="progress align-middle" style="height: 3px;">
                <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"></div>
            </div>
        </li>
        <li class="list-group-item">
            CSS3
            <div class="progress align-middle" style="height: 3px;">
                <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"></div>
            </div>
        </li>
    </ul>
</section>