<div class="main">
    <div class="container">
        <h2 class="font-weight-bold text-muted">404</h2>
        <h1 class="font-weight-bold">Page not found.</h1>
        <p class="mt-4">We're sorry but it appears that we can't find the page you were looking for. Usually this occurs because of a page
            that previously existed was removed or you've mistyped the address.</p>
        <a routerLink="/home" class="mt-4 btn btn-outline-secondary">
            <i class="mr-2 fa fa-angle-left"></i>Back to home</a>
    </div>
</div>