<section class="get-started-item">
    <h2>Portfolio
        <button class="ml-3 btn btn-sm btn-warning px-3 float-right">
            <i class="mr-2 fa fa-plus"></i>Add new</button>
    </h2>
    <div class="accordion mb-5" id="accordionportfolio">
        <div class="card">
            <div class="card-header collapsed" id="portfolio-heading-1" data-toggle="collapse" data-target="#portfolio-collapse-1" aria-expanded="true"
                aria-controls="portfolio-collapse-1">
                <a class="card-title">
                    <span class="font-weight-bold">RWAP (Reference Wallet Admin Portal)</span> -
                    <span>Wallet Management</span>
                </a>
            </div>

            <div id="portfolio-collapse-1" class="collapse" aria-labelledby="portfolio-heading-1" data-parent="#accordionportfolio">
                <div class="card-body">
                    <p class="mb-0">Using UI technology, we have built the Admin portal to manage wallet internal functions like Users, Tenant,
                        Wallet Account, Payment Card, Device, Token and user permissions. We have also implement inline editing
                        feature by using Xeditable module for OS, Device Eligibility and OS version.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" id="portfolio-heading-2" data-toggle="collapse" data-target="#portfolio-collapse-2" aria-expanded="false"
                aria-controls="portfolio-collapse-2">
                <a class="card-title">
                    <span class="font-weight-bold">Price Calculator Tool</span> -
                    <span>Pricing Quotation Generator</span>
                </a>
            </div>
            <div id="portfolio-collapse-2" class="collapse" aria-labelledby="portfolio-heading-2" data-parent="#accordionportfolio">
                <div class="card-body">
                    <p class="mb-0">It is a Web Application build for Lenovo client which is available to access on Intranet for limited
                        IP address. This tool helps into access quotation request from email inbox and calculate the price
                        according to predefined/dynamic pricing with predefined formulas and send back to requester with
                        final pricing.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" id="portfolio-heading-3" data-toggle="collapse" data-target="#portfolio-collapse-3" aria-expanded="false"
                aria-controls="portfolio-collapse-3">
                <a class="card-title">
                    <span class="font-weight-bold">Target Tool</span> -
                    <span>Quarterly target distribution</span>
                </a>
            </div>
            <div id="portfolio-collapse-3" class="collapse" aria-labelledby="portfolio-heading-3" data-parent="#accordionportfolio">
                <div class="card-body">
                    <p class="mb-0">It is a web application build for Lenovo client but only allows to access on limited IP address. I’m
                        working on this application at BlueOcean Market Intelligence. This application is used to distribute
                        a quarterly budget to region, subregion and country level. All dynamic calculation done using jQuery
                        with customize messages based on errors.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" id="portfolio-heading-4" data-toggle="collapse" data-target="#portfolio-collapse-4" aria-expanded="false"
                aria-controls="portfolio-collapse-4">
                <a class="card-title">
                    <span class="font-weight-bold">BazaarVoice</span> -
                    <span>Reviews & ratings of customers</span>
                </a>
            </div>
            <div id="portfolio-collapse-4" class="collapse" aria-labelledby="portfolio-heading-4" data-parent="#accordionportfolio">
                <div class="card-body">
                    <p class="mb-0">It is used on web application accessing by https://uk.webuy.com/. I worked on this application when I
                        was at Cex Webuy Entertainment Pvt. Ltd. This is third party API, we used this to get reviews and
                        ratings from the customer and showing on the portal with all respective products.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" id="portfolio-heading-5" data-toggle="collapse" data-target="#portfolio-collapse-5" aria-expanded="false"
                aria-controls="portfolio-collapse-5">
                <a class="card-title">
                    <span class="font-weight-bold">Cox & Kings USA</span> -
                    <span>Web portal of tours & packages</span>
                </a>
            </div>
            <div id="portfolio-collapse-5" class="collapse" aria-labelledby="portfolio-heading-5" data-parent="#accordionportfolio">
                <div class="card-body">
                    <p class="mb-0">It is web application accessing by http://www.coxandkingsusa.com/. I worked on this application when
                        I was at client location Cox & Kings. This portal is for tour packages, brochures, news etc. All
                        of the contents comes from the Universal CMS. It also allows user to compare tour packages.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" id="portfolio-heading-6" data-toggle="collapse" data-target="#portfolio-collapse-6" aria-expanded="false"
                aria-controls="portfolio-collapse-6">
                <a class="card-title">
                    <span class="font-weight-bold">Universal CMS</span> -
                    <span>Raw data management</span>
                </a>
            </div>
            <div id="portfolio-collapse-6" class="collapse" aria-labelledby="portfolio-heading-6" data-parent="#accordionportfolio">
                <div class="card-body">
                    <p class="mb-0">It is intranet application uses for internal data management. I worked on this application when I was
                        at client location Cox & Kings. This application built by using XML and XSLT(transformation language).
                        Using XML it creates a dynamic forms and respective data goes into a single table and later on those
                        data expose to the web application using SOAP services. It's kind of google form with advance data
                        expose feature.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" id="portfolio-heading-7" data-toggle="collapse" data-target="#portfolio-collapse-7" aria-expanded="false"
                aria-controls="portfolio-collapse-7">
                <a class="card-title">
                    <span class="font-weight-bold">Outdoormash</span> -
                    <span>Outing, Eventing & Social networking</span>
                </a>
            </div>
            <div id="portfolio-collapse-7" class="collapse" aria-labelledby="portfolio-heading-7" data-parent="#accordionportfolio">
                <div class="card-body">
                    <p class="mb-0">It is a web application accessing by http://outdoormash.com/. I worked on this application when I was
                        at SmartData Enterprises (I) Ltd. This application divided into three section, 1. Map section, 2.
                        Product promotion section and 3. Social networking section. I create a facebook like wall into this
                        application where user can share Photo, Video, Thoughts with friends and on shared things user gets
                        the Likes and Comments.</p>
                </div>
            </div>
        </div>
    </div>
</section>