<div class="main">
    <div class="container">
        <!--<div class="row">
            <div class="col-sm-9">-->
        <profile-block (profileData)="checkProfileData($event)"></profile-block>
        <experience-block *ngIf="isProfile"></experience-block>
        <!--<education-block *ngIf="isProfile"></education-block>
        <skills-block *ngIf="isProfile"></skills-block>
        <portfolio-block *ngIf="isProfile"></portfolio-block>-->
        <!--</div>
            <div class="col-sm-3">
                <div class="sticky-top">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Experience</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Portfolio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>-->
    </div>
</div>